# wordpress
wordpress/html/wp-config.php
wordpress/html/wp-content/uploads/*

# mysql
db/mysql/*

# Mac
.DS_Store
.AppleDouble
.LSOverride

# Windows image file caches
Thumbs.db
ehthumbs.db

# app
wordpress/html/utility.log

# private
material/*